In [20]:
from openai import OpenAI
from dotenv import load_dotenv
from langchain_community.vectorstores import FAISS
import pandas as pd
load_dotenv()


client = OpenAI()

embedding_list = []
input_texts = [
    "Bachelorsarbeit",
    "König",
    "Königin",
    "Prinz",
    "Monarchie",
    "Auto",
    "Hallo mein Name ist Sebastian",
]
def get_embedding(input_text):
    return client.embeddings.create(
        model="text-embedding-ada-002",
        input=input_text,
        encoding_format="float",
    )

Erzeuge aus der liste "input_texts" embeddings.

In [21]:
for input_text in input_texts:
    embedding = get_embedding(input_text)
    embedding_list.append(
        [input_text, embedding.data[0].embedding, len(embedding.data[0].embedding)]
    )

Speicher der Ergebnisse in ein Dataframe.

In [22]:
df = pd.DataFrame(embedding_list, columns=["Wort", "Embedding", "Länge des Embedding"])
df

,Wort,Embedding,Länge des Embedding
0,Bachelorsarbeit,"[0.016256958, -0.0020064777, 0.008179762, -0.0...",1536
1,König,"[0.012617611, -0.0013380619, 0.0037014647, -0....",1536
2,Königin,"[0.0044669667, -0.008479455, 0.0017011829, -0....",1536
3,Prinz,"[0.013801491, -0.022512054, 0.010123263, -0.00...",1536
4,Monarchie,"[-0.00060751155, -0.010041922, -0.00060596474,...",1536
5,Auto,"[-0.015648102, -0.018671824, 0.0024646109, -0....",1536
6,Hallo mein Name ist Sebastian,"[-0.007581762, 0.0034009619, -0.0031487523, -0...",1536

In [31]:
from langchain_openai import OpenAIEmbeddings

results = []
db = FAISS.from_texts(input_texts, OpenAIEmbeddings())
results_koenig = db.similarity_search_with_score("König",6)
df = pd.DataFrame(
    [
        [result_koenig[0].page_content, result_koenig[1]]
        for result_koenig in results_koenig
    ],
    columns=["Wort", "Score"],
)

In [32]:
df

                            Wort     Score
0                          König  0.000000
1                        Königin  0.150474
2                          Prinz  0.224285
3                      Monarchie  0.297962
4  Hallo mein Name ist Sebastian  0.417806
5                Bachelorsarbeit  0.420918

: